<div class="py-6">
    <div class="max-w-7xl mx-auto flex flex-col gap-y-6">
        <img src="/img/banner.png" alt="COL VAPOR - Soluciones Industriales" class="w-full h-auto">
        <img src="/img/mid_banner.png" alt="Criogenia GNL H2" class="w-full h-auto">
        <div class="grid grid-cols-4 gap-4">
            <img src="/img/bottom_banner_01.png" alt="" class="w-full h-auto">
            <img src="/img/bottom_banner_02.png" alt="" class="w-full h-auto">
            <img src="/img/bottom_banner_03.png" alt="" class="w-full h-auto">
            <img src="/img/bottom_banner_04.png" alt="" class="w-full h-auto">
        </div>
    </div>
</div>
