APP_NAME=Colvapor
APP_ENV=production
APP_DEBUG=false
APP_URL=https://www.colvapor.com

DB_CONNECTION=sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=smtp
MAIL_HOST=smtppro.zoho.com
MAIL_PORT=587
MAIL_USERNAME=b2b@colvapor.com.co
MAIL_PASSWORD=B2Badmin1435$
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=b2b@colvapor.com.co
MAIL_FROM_NAME="Colvapor"

FILESYSTEM_DISK=local
