APP_NAME=Colvapor
APP_ENV=production
APP_DEBUG=false
APP_URL=https://www.colvapor.com

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=colvapor_web
DB_USERNAME=colvapor
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@colvapor.com
MAIL_FROM_NAME="${APP_NAME}"

STATAMIC_LICENSE_KEY=
STATAMIC_THEME=colvapor
