APP_NAME=Colvapor
APP_ENV=production
APP_DEBUG=false
APP_URL=https://www.colvapor.com

DB_CONNECTION=sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=

FILESYSTEM_DISK=local
